*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    list-style: none;
}

.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("images/casual.jpg");
    background-size: cover;
    background-color: #aec2e4;
}
.hero1{
    position: relative;
    width: 100%;
    height: 165vh;
    background-image: url("images/casual1.jpg");
    background-size: cover;
    background-color: #aec2e4;
}
.hero2{
    position: relative;
    width: 100%;
    height: 120vh;
    background-image: url("images/casual2.jpg");
    background-size: cover;
    background-color: #aec2e4;
}

.lobo{
    height: auto;
    width: 80px;
    margin-top: .5%;
}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

nav{
    background: #2a3950;
    height: 50px;
    width: 100%;
}

nav img{
    padding: 0 80px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: rgb(163, 176, 211);
    font-size: 110%;
    font-weight: bold;
    padding: 25px 80px;
    border-radius: 10px;
}

a.active, a:hover{
    background: #3e4e69;
    transition: .5s;
}

.detel{
    margin-left: 8%;
    margin-top: 10%;
}

.detel h1{
    font-size: 50px;
    color: black;
    margin-bottom: 20px;
}

.bout{
    margin-left: 8%;
    margin-top: 5%;
}

.bout h1{
    font-size: 50px;
    color: black;
    margin-bottom: 20px;
}
.bout li{
    font-weight: bold;
}

.portfol{
    margin-left: 8%;
    margin-top: 5%;
}
.skill{
    display: flex;
    gap: 100px;
}
.skill li img{
    height: auto;
    width: 80px;
}

.portfol h1{
    font-size: 50px;
    color: black;
    margin-bottom: 20px;
}
.portfol1 h1{
    font-size: 50px;
    color: black;
    margin-bottom: 20px;
    margin-left: 10px;
}
.column{
    float: left;
    width: 40%;
}
.column1{
    float: right;
    width: 55%;
}

.portfol2 h1{
    font-size: 30px;
    color: black;
    margin-bottom: 20px;
    margin-right: 100px;
}
.portfol2 h2{
    font-size: 30px;
    color: black;
    margin-bottom: 20px;
}
.portfol2 p{
    color: black;
}

h3{
    margin: 20px;
}
p{
    font-size: 18px;
    font-size-adjust: 0.5;
}
li{
    font-size: 18px;
    font-size-adjust: 0.5;
}

.detel span{
    color: rgb(63, 80, 131);
}

.bout span{
    color: rgb(63, 80, 131);
}

.portfol1 span{
    color: rgb(63, 80, 131);
}
.portfol span{
    color: rgb(63, 80, 131);
}

.detel p{
    color:black;
    line-height: 22px;
}

.detel a{
    background: none;
    padding-top: 45px;
    margin-top: 10%;
    border-radius: 5px;
}
.detel a:hover{
    background: #687a9b;
    transition: .5s;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.images{
    width: 45%;
    height: 75%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.images img{
    height: 100%;
    position: absolute;
    left: 40%;
    bottom: 0px;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}
.images:hover .my_face{
    left: 45%;
}

